
html body {
    height: 100%;
}

.container-fluid {
    min-height: 100%;
    background-image: url(../assets/images/IMG_9209.JPG);
    background-size: cover;
}


.cloud-background {  
    background: url(../assets/images/beautiful-cloud-background.jpg) !important;
    background-size: cover !important;
    border-bottom: 5px solid rgba(0,0,0,.685);
}

#me {
    width: 200px;
    float: left;
    padding: 5px;
}

#name h3{
    color: white;
    padding: 10px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

.footer {
    background-color:gray;
    border-top: 5px solid teal;
}

h3 {
    border-bottom: 3px solid rgba(0,0,0, .75);
    width: 100%;
}

a:hover {
    background-color: rgba(255,255,0,.5);
    color: black;
    font-weight: bold;
}

.content {
    background-color: rgba(16, 163, 23, 0.68);
    border: 3px solid black;
    height: 100%;
}

.carousel-inner {
    height: 50vh;
    width: 70vw;
}

img {
    width: 100%;
    margin: auto;
}