<div class="col-lg-4 col-md-3 col-sm-2"></div>
<div class="content col-lg-4 col-md-6 col-sm-8">
  <div class="row font-weight-bold p-2">
    <h3>Contact</h3>
  </div>
  <div class="row align-items-center p-2">
    <div class="card">
      <div class="card-body shadow">
        <form>
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="email" class="form-control" id="fullName" placeholder="First and last name">
          </div>
          <div class="form-group">
            <label for="sender">Email address</label>
            <input type="email" class="form-control" id="sender" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for='subject'>Subject</label>
            <input type="email" class="form-control" id="subject"
              placeholder="A brief description of why you are contacting me">
          </div>
          <div class="form-group">
            <label for="body">Feel free to elaborate if subject wasn't enough room</label>
            <textarea class="form-control" id="body" rows="4" placeholder="Write your message here."></textarea>
          </div>
          <button type="button" class="btn btn-primary btn-md ml-4" id="emailSubmit1">Click this button to submit if
            you'd take the
            blue pill</button>
          <!-- <button type="button" class="btn btn-secondary btn-md ml-4 mt-2">Click this button to submit if you'd take
                  the red pill</button> -->
        </form>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-3 col-sm-2"></div>