<div class="col-md-2"></div>
      <div class="content col-xs-12 col-s-12 col-md-8 col-lg-8 col-xl-8">
        <div class="row font-weight-bold p-2">
          <h3>About Me</h3>
        </div>
        <div class="row p-2 align-items-end">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img id="me" class="img-fluid" src="assets/images/IMG_5965.JPG" alt="This is me"></img>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <p>
              My name is James Lovejoy and I am an aspiring web developer. I am learning html, CSS, and Bootstrap.
              What I love to do is solve problems. To quote the great Vanilla Ice
              <a href="https://www.youtube.com/watch?v=rog8ou-ZepE" target="_blank">"If there's a problem yo, i'll solve
                it"</a>.
              Debugging code and implementing new concepts into an already existing design are the things that have
              really
              drawn me into the wide world of web development so far.
            </p>
          </div>
        </div>
        <div class="row p-2">
          <div class="col">
            <p>
              I have a pretty diverse background beginning with a mechanical engineering degree, backed up with forensic
              engineering exerpience, time spent as a field staff for a wilderness therapy company in the deserts of
              Oregon (if you don't belive me that Oregon has deserts, i'd love to tell you about them!), and a short
              stint
              at a brewing company while I learned to code. There's a lot of science and problem solving in the making
              of
              beer too!
            </p>
            <p>
              Whether its working in a team or on my own I am your guy. I have the due deligience and work ethic to stay
              motivated and on schedule by myself. However, the communication skills I have developed and honed with my
              diverse background give me the ability to adapt to any team setting and fill in the gaps.
            </p>
          </div>
        </div>
      </div>
      <div id="carouselRow" class="row justify-content-center m-3">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="card text-white bg-dark text-center">
            <div class="card-header">Enjoy Some Photos I've Taken Myself!</div>
            <div class="card-body">
              <div id="carousel" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel" data-slide-to="1"></li>
                  <li data-target="#carousel" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div id="carouselInner" class="carousel-inner justify-content-between"></div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#carousel" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#carousel" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>